$mainFont: 'Juera', Arial, sansSerif;
$baseFontSize: 16px;
$baselineHight: 24px;
$h1size: 32px;
$h2size: 28px;
$h3size: 24px;
$h4size: 22px;
$h5size: 18px;
$h6size: 16px;

$primary: #0E0E1E;
$secondary: #FF560F;
$light: #e8e8e8;
