

$baseFontSize: 16px;

$baseLineHeight: 24px;

$h1Size: 32px;

$h2Size: 28px;

$h3Size: 24px;

$h4Size: 22px;

$h5Size: 18px;

$h6Size: 16px;

$mainFont: jura, Arial, sansSerif;



$primary: #0E0E1E;
$secondary: #FF560F;
$light: #e8e8e8; 