* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:before, 
    &:after{
      box-sizing: border-box;
    }

    // Background muss wo anders definiert werden
    
  }

  html{
    background: $primary;
    color: $light;
    font-family: $mainFont;
  }