

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  &:before,
  &:after{
    box-sizing: border-box;
  }

    //backgound muss wo anders defeniert werden
    //background-color: $primary;
  }

  html {
    background: $primary;
    color: $light;
    font-family: $mainFont;
  }

