header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: $primary;


    h1 {
        color: $secondary;
        margin-left: 2rem;
        font-family: 'Jura';
    }

    nav {
        @include bp-medium {
          ul {
          
            list-style-type: none;
            border-radius: 10px;
            margin-right: 1rem;
    
            li {
                display: inline-block;
              
    
              a {
                display: block;
                padding: 10px;
                color: #dee8ed;
                text-decoration: none;
                font-family: $mainFont;
                &:hover {
                    border-bottom: 2px solid $secondary;
                  } 
              }
    
        
            }
          }
        }
        
      }
    }
    .mobileNav {
        //höhe ist null 
        max-height: 0;
        display: none;
        //verzögert effekt zwischen block
        // ease-out 
        transition: all .5 ease-out;
        transition-property: max-height, display;
      
      }
      .hamb {
        //styling von maus
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 4%;
        padding: 40px 20px;
      
      .hamb-line {
        background-color: $light;
        display: block;
        width: 24px;
        height: 2px;
        position: relative;
        z-index: 999;
      
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: $light;
          width: 100%;
          height: 100%;
          transition: all .2 ease-out;
        }
        &::before {
          top: 5px;
        }
        &::after {
          top: -5px;
        }
      }
      }
      
      .side-menu {
        display: none;
        //vor  nach dem klicken
      &:checked ~ {
        nav{
          max-height: 100%;
          display: block;
      
          ul {
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            //flexbox
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      
      
            li {
              display: block;
              list-style: none;
              margin: .6rem;

      
              a{
                color: $light;
               
              }
      
            }
          }
        }
        .hamb {
          // hamburgerlinien
          .hamb-line{
            background: transparent;
      
            &::before {
              transform: rotate(-45deg);
              top: 0;
            }
            &::after {
              transform: rotate(405deg);
              top: 0;
      
            }
          }
        }
      }
      }
      @include bp-medium {
        .side-menu, .hamb {
          display: none;
        }
        .mobileNav {
          max-height: 100%;
          display: block;
        }
      }



#hero {
    background: linear-gradient($primary, rgba($primary, 0.4)),
        url("../img/hero2.jpg") no-repeat center/cover;
    height: 45vh;
}


.section {
    color: $light;
    font-family: 'Jura', Courier, monospace; 
    margin: 3rem;

    h2 {
        font-size: 1.8rem;
    }

    p {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .img1 {
        width: 80%;
        padding: 2rem;
    }

 
}
.sectionSkills {
    h2 {
        color: $light;
        font-family: 'Jura', Courier, monospace;
        font-size: 1.8rem;
    }

    p {
        color: $light;
        font-family: 'Jura', Courier, monospace;
        font-size: 1.8rem;
        margin-top: 2.4rem;
    }

    .skillContainer{
      max-width: 1000px;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      .skillBox{
        height: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        gap: 20px; 
    
        img{
          max-width: 70px;
          width: 40%; 
        }
        p{
          width:50%;
          margin:0;
        }
      }
    }
}

.section3 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: $light;
        font-family: 'Jura', Courier, monospace;
        font-size: 1.8rem;
    }

    img {
        max-width: 45%;
        padding: 1rem;
    }

    .zentrieren {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
